.fee__detail .dialog-container {
    max-width: 1600px;
    height: 840px;
}

.fee__detail .dialog-container .icon__cancel {
    position: absolute;
    right: 180px;
}

.fee__detail .feeGroup {
    display: flex;
    margin-top: 28px;
}

.fee__detail .feeGroup .btn-default {
    background-image: url("../../assets/Resources/ImagesIcons/ic_Plus.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 33px;
    margin-left: -40px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.fee__detail .input__form {
    width: 1600px;
    height: 70vh;
    margin-top: 80px;
    font-size: 16px;
    display: flex;
    position: absolute;
}

.fee__detail .input__form .left {
    width: 1000px;
    height: 70vh;
    border-right: 2px solid #d5d5d5;
    padding-left: 12px;
    padding-top: 0px;
}

.fee__detail .input__form .right {
    width: 500px;
    height: 70vh;
    padding-left: 60px;
    padding-top: 40px;
}

.fee__detail .Price {
    display: flex;
    margin-top: 28px;
}

.fee__detail .Price .text {
    margin-top: 40px;
    margin-right: 20px;
    margin-left: -4px;
}

.fee__detail .applyObject {
    margin-top: 28px;
}

.fee__detail .property {
    margin-top: 28px;
}

.fee__detail .period {
    margin-top: 28px;
}

.fee__detail .period .label {
    display: flex;
    font-size: 15px;
    margin-left: 10px;
}

.fee__detail .period .period__input {
    display: flex;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 28px;
}

.fee__detail .period .period-item {
    margin-right: 120px;
}

.fee__detail .period .period-item input {
    margin-right: 10px;
}

.fee__detail .dialog__footer {
    width: 100%;
    display: flex;
    height: 60px;
    position: relative;
    bottom: -750px;
}

.fee__detail .dialog__footer .button {
    width: 100%;
    display: flex;
    height: 60px;
    position: fixed;
    right: -1500px;
}