.navbar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 200px;
    background-color: #24344B;
    color: #e5e5e5;
}

.navbar__header {
    position: relative;
    top: 0;
    height: 60px;
    width: 100%;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
}

.navbar__header>.logo {
    width: 32px;
    height: 32px;
    margin: 8px;
    background-image: url("../../assets/Resources/ImagesIcons/ic_KhoanThu_56.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.navbar__header>.toggle {
    width: 16px;
    height: 16px;
    margin-left: 40px;
    background-image: url("../../assets/Resources/ImagesIcons/ic_sprites2.png");
    background-position: -1px -1px;
    background-repeat: no-repeat;
}

.navbar__menu {
    position: relative;
    width: 100%;
    height: 200px;
}

.navbar__menu .navbar__menu__item {
    display: flex;
    height: 40px;
    align-items: center;
    padding-left: 8px;
    cursor: pointer;
}

.navbar__menu .active {
    border-left: 3px solid #0dd469;
    background-color: #3b434e;
}

.navbar__menu .active>.item-text {
    color: #0dd469 !important;
}

.navbar__menu .navbar__menu__item>.item-icon {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
}

.navbar__menu .navbar__menu__item>.item-text {
    color: #cccccc;
    margin-left: 16px;
}