.alert .dialog-container {
    max-width: 600px;
    height: 200px;
    margin-top: 20vh;
}

.alert .dialog-container .icon__cancel {
    margin-left: 540px;
}

.alert .alert__text {
    margin-top: 40px;
    font-size: 20px;
    text-align: left;
    height: 76px;
}

.alert .alert__btn {
    margin-left: 480px;
}